.main1 {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .main1 .div {
    background-color: #ffffff;
    height: 832px;
    position: relative;
    width: 1318px;
  }
  
  .main1 .element {
    height: 605px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 95px;
    width: 565px;
  }
  
  .main1 .text-wrapper {
    color: #fc0909;
    font-family: "Roboto", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 822px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 100px;
    text-align: center;
    white-space: nowrap;
  }
  
  .main1 .text-wrapper-2 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 35px;
    font-weight: 700;
    left: 628px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 285px;
    white-space: nowrap;
  }
  
  .main1 .overlap {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 55px;
    left: 655px;
    position: absolute;
    top: 225px;
    width: 517px;
  }
  
  .main1 .text-wrapper-3 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 25px;
    font-weight: 300;
    left: 37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
  }
  
  .main1 .text-wrapper-4 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 35px;
    font-weight: 700;
    left: 628px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 175px;
    white-space: nowrap;
  }
  
  .main1 .overlap-group {
    background-color: #d9d9d9;
    height: 248px;
    left: 662px;
    position: absolute;
    top: 344px;
    width: 510px;
  }
  input{
    height: 20px;
  }
  .main1 .text-wrapper-5 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    resize: none;
    white-space: pre-wrap;
    width: 400px;
    height: 40%;
    font-size: 25px;
    font-weight: 300;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
    border: none;
    outline: none;
    background: transparent;
  }
  
  .main1 .get-blood-button {
    all: unset;
    background-color: #fc0505;
    border-radius: 15px;
    box-shadow: 0px 4px 90px 5px #dededf;
    box-sizing: border-box;
    height: 75px;
    left: 912px;
    position: absolute;
    top: 649px;
    width: 248px;
  }
  
  .main1 .get-blood {
    height: 39px;
    left: 66px;
    position: relative;
    top: 18px;
    width: 118px;
  }
  
  .main1 .text-wrapper-6 {
    color: #ffffff;
    font-family: "RocknRoll One", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -15px;
    text-align: center;
    width: 116px;
  }
  