*{
    margin: 0;
    padding: 0;
}
.footer{

    height: 18vh;
    width: 100%;
    background-color: black;
    /* display: flex; */

    /* justify-content: space-around; */
}
span{
    color: white;
}

img{
    /* background-color: black; */
    height: 5vh;
}
.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    /* margin: 100px; */

}